---
layout: main
---

<div id="home">
  <h1>{{ site.title }}</h1>
  <hr />

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <div id="grid" class="row flex-grid">
        {% for post in paginator.posts %}
            <article class="box-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <span class="category">
                    <a href="{{ site.url }}{{ site.baseurl }}/category/{{ post.category }}">
                        <span>{{ post.category }}</span>
                    </a>
                </span>
                <div class="box-body">
                    <div class="cover">
                        {% include new-post-tag.html date=post.date %}
                        <a href="{{ post.url | prepend: site.baseurl }}" {%if isnewpost %}class="new-post"{% endif %}>
                            {% if post.image %}
                                <img src="/assets/img/placeholder.png" data-url="{{ post.image }}" class="preload">
                            {% else %}
                                <img src="/assets/img/placeholder.png" data-url="/assets/img/off.jpg" class="preload">
                            {% endif %}
                        </a>
                    </div>
                    <div class="box-info">
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                            <h2 class="post-title" itemprop="name">
                                {{ post.title }}
                            </h2>
                        </a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    {% include pagination.html %}
</main>

</div>