---
layout: compress
---

<!DOCTYPE html>
<html lang="ch">
    {% include head.html %}
    <body class="has-push-menu">
	    <div class="container">
	      <div class="col-sm-3">
	        <div class="fixed-condition">
	          <a href="/"><img class="profile-avatar" src="{{ site.avatar_url }}" height="75px" width="75px" /></a>
	          <a href="/"><h1 class="author-name">{{ site.author }}</h1></a>
	          {% if site.about %}
	            <div class="profile-about">
	              {{ site.about }}
	            </div>
	          {% endif %}
	          <div class="social">
	            <ul>
	              {% for link in site.social %}
	                <li><a href="{{ link.link }}" target="_blank"><i class="fa {{ link.icon }}"></i></a></li>
	              {% endfor %}
	            </ul>
	          </div>
	          <div class="search" id="js-search">
	            <input type="text" placeholder="(sitemap)~$ type to search" class="search__input form-control" id="js-search__input">
	            <ul class="search__results" id="js-search__results"></ul>
	          </div>
	          <hr />
	          <ul class="sidebar-nav">
	            <strong>导航</strong>
	            <li><a href="https://ben7z.github.io">Home</a></li>
	            {% for i in site.urls %}
	              <li><a class="about" href="{{ i.url }}">{{ i.text }}</a></li>
	            {% endfor %}
				<li><a href="https://ben7z.github.io/wiki" target="_blank">Wiki</a></li>
	          </ul>
	        </div>
	        <!-- end /.fixed-condition -->
	      </div>
	      <div class="col-sm-8 col-offset-1 main-layout">
	        <section class="content">
	            {{ content }}
	        </section>
	            {% include footer.html %}
	      </div>
	      <!-- end /.col-sm-8 -->
	    </div>
	    <!-- end /.container -->
				
    </body>
	
</html>